body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f5f5f5;
  }
  
  h2 {
    margin: 10px 0;
    font-size: 30px;
    color: #333;
    text-align: center;
  }
  
  .choice-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .choice-button:hover {
    background-color: #fff;
    color: #333;
    border-color: #fff;
  }
  
  #Rock {
    background-color: #ff5757;
  }
  
  #Scissors {
    background-color: #66cc66;
  }
  
  #Paper {
    background-color: #4da6ff;
  }
  
  #Rock:hover {
    background-color: #ff8c8c;
  }
  
  #Scissors:hover {
    background-color: #80ff80;
  }
  
  #Paper:hover {
    background-color: #99c2ff;
  }
  
  #result {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  
  #computer-score {
    font-size: 30px;
    font-weight: bold;
    color: #ff5757;
    text-align: center;
    margin-top: 50px;
  }
  
  #user-score {
    font-size: 30px;
    font-weight: bold;
    color: #4da6ff;
    text-align: center;
    margin-top: 50px;
  }
